<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="icon" href="imground1/logoround1.png" type="image/x-icon">
    <title>CodeSense</title>
    <link rel="stylesheet" href="cssround1/styleround1.css">
    <!-- <script type="text/javascript">
        function preventBack() {
            window.history.forward(); 
        }
          
        setTimeout("preventBack()", 0);
          
        window.onunload = function () { null };
    </script> -->
    <!-- <script type="text/javascript">
        window.history.forward();
        function noBack() {
            window.history.forward();
        }
    </script> -->
    <!-- <script>
        // window.onbeforeunload = function() { 
        //     return "Your Progress will be lost"; 
        // };
        history.pushState(null, null, location.href);
        window.onpopstate = function () {
            history.go(1);
        };
    </script> -->
</head>
<body>
    <nav class="navbar" >
        <h2 data-text="CodeSense">CodeSense</h2> 
    </nav>

    <div id="row1">
        <div class="timer">
            
            <span>Timer</span>
            <div class="countdown">
                <div class="day"></div>
                <div class="hour"></div>
                <div class="minute"></div>
                <div class="second"></div>
            </div>

        </div>

        <div class="question">
            
            <span>Problem Description</span>
            <div class="difficulty" id="difficulty">
                
            </div>
            <!-- <div class="description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatem, officia autem? Temporibus, maiores consequuntur. Voluptas dolores obcaecati aut? Quos, debitis nostrum sit dignissimos cum temporibus culpa incidunt animi voluptas quaerat molestiae voluptatibus eligendi dolore sed sequi laborum repellendus ducimus non eius ut reprehenderit. Ut dolorem quis aspernatur molestiae porro dolores et nisi odio atque incidunt ipsum rerum non sed voluptatibus tempore debitis quos, expedita libero cum quo? Perspiciatis iusto incidunt officia consequatur. Sed doloremque natus quasi ex quidem molestias? Sed rerum earum, asperiores praesentium sit iure voluptates repellendus quo eius soluta reiciendis voluptatibus, perspiciatis ratione nobis aperiam ab dolore amet blanditiis itaque! Eaque laboriosam, inventore earum dignissimos minus aperiam cum sit maiores perferendis odit veritatis quam eum illo dolore repellendus, hic officia expedita nostrum alias repudiandae. Aspernatur laborum praesentium dignissimos quas accusantium pariatur dolor, numquam saepe exercitationem modi. Modi voluptate dicta consequatur animi fugiat fugit, odit, minima, iure temporibus architecto aliquid. Pariatur nesciunt enim ab natus omnis aspernatur? Debitis distinctio dolorum odit? Voluptate voluptatum est vel. Fuga delectus aliquid beatae nostrum natus vero voluptate deleniti facilis nesciunt quis mollitia, laboriosam ex minima molestias eveniet iusto possimus illum dignissimos nulla dolorum aut exercitationem dolorem quae impedit? Nobis ab qui dolorem deleniti modi delectus, tenetur laborum, corrupti molestiae quae et accusamus! Illo quos atque modi corporis, quasi odio aliquid ratione architecto, quisquam, veniam saepe debitis ex vitae. Illum tenetur cupiditate voluptatum nostrum numquam dolorum delectus molestiae ducimus esse, dolor earum, placeat odio necessitatibus! Nostrum ipsum consectetur praesentium omnis alias repudiandae esse cupiditate assumenda aspernatur soluta, aperiam incidunt nulla voluptatibus, ab laboriosam illo. Praesentium, architecto obcaecati aut maiores id at voluptatibus esse alias recusandae similique soluta. Soluta asperiores illum facere est, eligendi quaerat vero, commodi fugiat repudiandae similique dolorum dolore? Exercitationem, et dolorum. Corporis vel, ratione numquam aliquid ad modi sapiente labore sit vero dolores quidem aperiam reprehenderit quaerat similique dolorum recusandae cumque architecto accusamus omnis necessitatibus. Eius, itaque blanditiis, sunt alias ratione corporis officia delectus molestias enim dicta laborum cum aut quis consequatur ad suscipit quibusdam eum harum? Iure repudiandae earum dicta doloribus possimus iste blanditiis, mollitia nostrum doloremque, nulla adipisci minima quis labore natus rerum cum. Quasi consectetur nam, est rerum quaerat sed laudantium optio nisi quisquam ex cumque quo! Minima ad quae rem harum reprehenderit exercitationem commodi non vitae et. Blanditiis natus praesentium in dolorem. Aliquid, natus numquam facere incidunt distinctio odit corrupti eaque, doloribus vel iure fugiat, pariatur quae quasi nesciunt eligendi suscipit dolorum ipsum laboriosam illo ea eveniet est harum repudiandae cupiditate! Autem eaque labore sit assumenda nulla dolor est adipisci, iste libero sed, impedit quo quibusdam eveniet nam eum, officia quasi maiores provident fuga totam error similique. Sit sint officia aspernatur dolore autem eum quibusdam, perferendis pariatur cumque nam officiis tempore. Nisi, voluptatum! Consequatur, dicta nobis sunt dolorem laboriosam veniam perspiciatis autem qui a reiciendis aut libero quae. Rerum esse repellendus tempora atque animi sunt laboriosam eveniet tenetur, corrupti cumque expedita quidem provident maxime autem maiores recusandae at, numquam consectetur laudantium. Totam, cumque? Doloremque necessitatibus nobis sed!</div> -->
            <div class="description" id="description">
               
            </div>
        
        </div>

        <div class="code">
            
            <span>Wrong Code</span>
            <!-- <div class="wrongcode">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam quam fuga maiores earum, corrupti illum eveniet architecto eligendi minima autem. Autem placeat deleniti dolore voluptatum eligendi laborum labore. Explicabo adipisci accusamus ipsum sunt ratione, animi nesciunt natus asperiores distinctio. Debitis ducimus, incidunt aliquid quod quia alias cupiditate excepturi at dolores sapiente voluptas et repellat suscipit ipsum atque rerum non perspiciatis quidem in ipsa tenetur neque eveniet eligendi velit. Rerum alias cumque soluta ratione. Facilis ipsum atque neque facere veniam! Odio fuga ad distinctio ex consectetur, facilis voluptas voluptates laboriosam repellat quae! Eligendi asperiores expedita exercitationem dolorem commodi voluptates molestias id, quidem dignissimos assumenda ad aliquam cum, voluptatem recusandae dolore fugiat culpa eaque voluptatum nobis inventore molestiae! Obcaecati, officiis rem? Iste hic optio quas quaerat similique cupiditate voluptatum! Deleniti at consequatur voluptate nobis temporibus a ipsa minima voluptas laborum id natus minus, error harum ratione placeat eligendi dolores quaerat libero officiis rem praesentium possimus voluptatum aut fugiat. Voluptatibus tenetur enim veritatis id repellendus ea temporibus, esse libero. Quod nobis illo perspiciatis sit eum laborum necessitatibus, et obcaecati consectetur aut officiis reiciendis exercitationem minus architecto tenetur tempora voluptas! Sed in similique eius velit, consequuntur rerum aut minima pariatur dolorum, nihil laborum ullam id dignissimos? Sapiente, est atque, quam necessitatibus in aperiam odio, facilis cum placeat doloribus minus? Illum vero harum at in necessitatibus eligendi libero accusamus quod, quasi voluptatibus veniam nesciunt molestias magnam dolor? Ad quod exercitationem ullam perspiciatis vel vero qui nesciunt, est iure minus aut tempore magni id deleniti excepturi quo! Quisquam repellat sequi aliquid, vel a ipsam praesentium accusantium veniam fugiat, pariatur cupiditate laudantium harum dicta alias impedit ab vitae accusamus nulla. Ipsa adipisci deserunt rem odit. Incidunt consequuntur, harum sint voluptatem eligendi tempora recusandae expedita? Magnam, animi omnis accusamus pariatur sit, quod ipsam iure, ipsa ab facilis amet! Dolorem nam odit tempora voluptatibus magnam et itaque maiores. Recusandae, illum aut sint consectetur alias pariatur at magni, culpa eveniet dignissimos nisi quisquam maiores ut! Ipsa sunt doloremque maiores molestiae dicta vel iusto eum, laudantium eaque! Eum ut ea ducimus consectetur architecto enim totam nihil assumenda voluptatem dolore repudiandae natus laborum voluptates tempore atque nesciunt veniam voluptatum nisi, labore esse, odio magni earum? Magnam repellat explicabo ipsum nemo id deleniti eaque, perspiciatis eius molestias ea error odio, debitis maiores temporibus labore quae aut asperiores vitae laboriosam unde illum. Culpa placeat reprehenderit recusandae nesciunt ab maxime, officia in similique, voluptate quam quisquam tempora aliquam, voluptatem vitae ipsum. Cumque rerum alias sequi, odit eaque rem a libero, eligendi neque quos, hic iusto. Sapiente, explicabo. Incidunt magni nulla sint perferendis, ducimus repellendus, quo, aliquam sunt alias voluptas eos voluptatem iste expedita repellat molestias quae neque. Ipsa distinctio ad sit non eligendi dolorum deleniti beatae provident quo obcaecati, atque architecto consequatur corporis optio consectetur explicabo reprehenderit aperiam ducimus aliquam. Ipsum, dolore? Et commodi natus, doloremque maiores obcaecati ipsum doloribus saepe porro inventore recusandae in iste consectetur consequuntur vel incidunt, itaque nemo provident quia ea enim? Aliquam suscipit praesentium quos. Distinctio fugiat nemo quasi incidunt?</div> -->
                
        </div>
        <div class="wrongcode" id="editor">
        </div>

        
    </div>

    <div class="row2">
        <form action="/round1" method="post">
            <div class="input">
                <span>Input Box</span>
                <textarea placeholder="Write Your Answer Here" class="inputbox" name="inputbox" required></textarea>
            </div>

            <div class="output">
                <span>Output Box</span>
                <div class="showoutput" id="showoutput">
                    <!-- Wrong Answer -->
                    <%= ans %>
                </div>
            </div>

            <div class="runcode">
                <button type="submit" onclick="runCode()">Run Code</button>
            </div>
        </form>
    </div>

    <div class="row3">
        <div class="score">
            <h1>Score</h1>
            <p id= "score" class="scorep">
                <%= scoreround1 %>
            </p>
        </div>

        <div class="next">
            <button id="next" class="nextp">Next</button>
        </div>

        <div class="submit">
            <button id="submit">Submit</button>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.1.01/ace.js" type="text/javascript" charset="utf-8"></script>
    <script>
        function runCode() {
            document.getElementById("showoutput").innerHTML = "Code is Running";
        }

        var editor = ace.edit("editor");
        editor.setTheme("ace/theme/monokai_light");
        editor.getSession().setMode("ace/mode/c_cpp");
        document.getElementById("editor").style.height = "670px";
        document.getElementById("editor").style.width = "590px";
        document.getElementById("editor").style.float = "right";
        document.getElementById("editor").style.overflow = "scroll";
        document.getElementById("editor").style.boxShadow = "rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset";
        document.getElementById("editor").style.marginTop = "20px";
        document.getElementById("editor").style.marginRight = "10px";
        document.getElementById("editor").style.borderRadius = "20px";
        document.getElementById("editor").style.textAlign = "left";
        document.getElementById("editor").style.padding = "20px";
        document.getElementById("editor").style.fontSize = "15px";
        
        var aa = '#include<iostream>\nusing namespace std;\nint main(){\n\tcout << "Hello World";\n\treturn 0;\n}\n';

        var questionno = Number("<%= questionno %>");
        console.log(questionno);
        
        fetch("round1json/sample.json")
        .then(response => response.json())
        .then(data => {
            //console.log(data[randomNumber].question);
            // console.log(typeof(data[0].difficulty));
            // console.log(typeof(data[0].description));
            // console.log(typeof(data[0].wrongcode));
            document.getElementById("difficulty").innerHTML = data[questionno-1].difficulty;
            document.getElementById("description").innerHTML = data[questionno-1].description;
            // document.getElementById("editor").innerHTML = data[questionno-1].wrongcode;
            // editor.setValue(data[questionno-1].wrongcode);
            editor.session.setValue(data[questionno-1].wrongcode); 
                
                // console.log("yoo");
                //console.log(data[randomNumber].answer);
                // ans = data[randomNumber].answer;
            });
        
    </script>

    <script src="jsround1/indexround1.js"></script>
</body>
</html>

